    <footer class="inline-block w-full border-t border-[#d8d2cd] bg-white py-4">
        <div class="container w-full py-8 px-6 mx-auto">
            <div class="flex w-full">
                <div class="w-3/4">
                    <h3 class="text-[#373333] text-[12px] uppercase font-Futura leading-[40px] pl-4 border-l border-[#dddad3]">CUSTOMER SERVICE</h3>
                    <ul class="text-[#878787] leading-[20px] text-[12px] pl-4">
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Newsletter Signup</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">UK Delivery Information</a></li>
                        <li><a href="#">International Delivery</a></li>
                        <li><a href="#">Exchange & Returns</a></li>
                        <li><a href="#">Payment Information</a></li>
                        <li><a href="#">Product Information</a></li>
                    </ul>
                </div>
                <div class="w-3/4">
                    <h3 class="text-[#373333] text-[12px] uppercase font-Futura leading-[40px] pl-4 border-l border-[#dddad3]">INFORMATION</h3>
                    <ul class="text-[#878787] leading-[20px] text-[12px] pl-4">
                        <li><a href="#">Sustainability</a></li>
                        <li><a href="#">Charity</a></li>
                        <li><a href="#">Press Contacts</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Loyalty Rewards</a></li>
                        <li><a href="#">Store Locator</a></li>
                        <li><a href="#">Size Guides</a></li>
                        <li><a href="#">App Sign-Up</a></li>
                    </ul>
                </div>
                <div class="w-3/4">
                    <h3 class="text-[#373333] text-[12px] uppercase font-Futura leading-[40px] pl-4 border-l border-[#dddad3]">&nbsp;</h3>
                    <ul class="text-[#878787] leading-[20px] text-[12px] pl-4">
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Newsletter Signup</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">UK Delivery Information</a></li>
                        <li><a href="#">International Delivery</a></li>
                        <li><a href="#">Exchange & Returns</a></li>
                        <li><a href="#">Payment Information</a></li>
                        <li><a href="#">Product Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>