<header class="w-full">
    <div class="flex w-full flex-w justify-between flex-wrap">
        <div class="flex mt-[16px] mb-[11px]">
            <ul class="flex mr-[15px]">
                <li class="pr-[9px] border-navbodercolor"><a href="#" class="">Sign In</a></li>
                <li class="pr-[9px] pl-[9px] border-l-[1px] border-navbodercolor"><a href="#" class="">Register</a></li>
                <li class="pr-[9px] pl-[9px] border-l-[1px] border-navbodercolor"><a href="#" class="">Contact Us</a></li>
                <li class="pr-[9px] pl-[9px] border-l-[1px] border-navbodercolor"><span class="welcome-msg flex">Shipping to<a href="#" class="ml-[3px] top-[1px] inline-block relative"><img src="images/flags.jpg" width="16" height="11"></a></span></li>
            </ul>
            <ul class="flex">
                <li><a href="#" class="flex"><span><svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 327.123 466.668">
                    <path id="Path_1" data-name="Path 1" d="M349.95,46.668c-90.16,0-163.52,73.359-163.52,163.52,0,87.266,149.61,290.73,156.05,299.32a9.152,9.152,0,0,0,7.465,3.824A9.318,9.318,0,0,0,357.5,509.5c6.348-8.586,156.05-212.05,156.05-299.32,0-90.156-73.359-163.52-163.61-163.52Zm0,242.66A79.1,79.1,0,1,1,429.1,210.18,79.171,79.171,0,0,1,349.95,289.328Z" transform="translate(-186.43 -46.664)" fill="#78246f"/>
                </svg>
            </span>Store Locator</a></li>
        </ul>
    </div>
    <div class="flex mt-[12px] mb-[12px]">
        <div class="flex items-center relative leading-[25px]">
            <span class="mini-cart-icon"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19.333 22">
                <g id="Group_1" data-name="Group 1" transform="translate(-560 -949)">
                    <path id="Path_2" data-name="Path 2" d="M531,971l1.75-22h15.833l1.252,15.744.5,6.256Z" transform="translate(29)" fill="#78246f"/>
                    <path id="Path_3" data-name="Path 3" d="M537,951h6.875l-1.437,4.125h-3.812Z" transform="translate(29.063)" fill="#fff"/>
                </g>
            </svg>
        </span>
        <span class="mini-cart-label text-[12px] uppercase font-Futura font-black tracking-[1px] border-r-[1px] border-[#dddad3] leading-[15px] pr-[6px] pl-[7px] mr-[4px]">My Bag</span>
        <span class="mini-cart-empty text-[12px] uppercase font-Futura font-black leading-[15px]">₹ 00.00</span>
    </div>
</div>
</div>
<div class="flex w-full">
    <div class="primary-logo mb-2 w-1/4">
        <a href="#"><img src="/images/logo.png" class="max-h-[70px] max-w-auto w-auto" width="161" height="121"></a>
    </div>
    <div class="w-3/4">
        <div class="header-search">
            <form class="relative">
                <input id="search" type="text" name="q" value="" placeholder="Search products" class="border border-pink leading-[25px] pl-[8px] pr-[25px] w-full" maxlength="128">
                <input class="absolute top-0 right-0 bottom-0 w-[25px] text-[0px] bg-[url('/images/sprite.png')]" type="submit" value="go">
            </form>
        </div>
        <div class="text-right mt-3">
            <a href="#" class="text-pink font-bold font-Futura font-black text-xs tracking-wider">SAVED</a>
        </div>
    </div>
</div>
<div id="navigation">
<nav class="border-t-[1px] border-b-[1px] border-[#e8e7e2]">
    <label for="menu-toggle" class="cursor-pointer md:hidden block">
        <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
</label>
<ul class="md:flex items-center text-base text-gray-700 text-center pt-4 md:pt-0">
    <li class="flex-auto"><a class="block no-underline bg-[#ba1519] text-white hover:text-white text-[16px] font-Futura uppercase font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/">Sale & Offers</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Women</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Men</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Baby</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Boys</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Girls</a></li>
    <li class="flex-auto"><a class="block no-underline hover:text-black text-[16px] font-Futura uppercase text-textcolor font-light tracking-[.8px] leading-[39px] border-l-[1px] border-r-[1px] border-[white] pr-[5px] pl-[5px]" href="/about.html">Home & Gifts</a></li>
</ul>
</nav>
</div>
<div class="bg-black text-white text-center font-Futura font-black text-[24px] pt-[20px] pb-[10px] tracking-[2px]">FREE STANDARD DELIVERY ON UK ORDERS OVER £40</div>
</header>